<div id="container">
  <h1>The polls are closed!!!</h1>
  <div class="result">
    <h2 class="result__label">The winner is:</h2>
    <div>
      <span>
        <h1 class="result__winner">@<%= User.find(Winner.last.user_id).handle %></h1>
      </span>
    </div>
    <h2 class="result__label">and we're going to:</h2>
    <div>
      <span>
        <h1 class="result__location"><%= User.find(Winner.last.user_id).pick %></h1>
      </span>
    </div>
  </div>
  <div class="coming">
    <h3><%= pluralize(@coming.count, "person") %> coming:</h3>
    <ul class="coming__list">
      <% @coming.each do |user| %>
      <li class="coming__list__user">
        <%= user.handle %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
